<!DOCTYPE html>
<html>
<head>
    <title>Blog Posts</title>
</head>
<body>
    <h1>All Blog Posts</h1>
    <a href="{% url 'create' %}">Create New Post</a>
    
    {% for post in object_list %}
        <div>
            <h2><a href="{% url 'detail' post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.content|truncatewords:20 }}</p>
            <small>By {{ post.author }} on {{ post.created_at }}</small>
        </div>
        <hr>
    {% empty %}
        <p>No blog posts yet.</p>
    {% endfor %}
</body>
</html>